# =====================================================================
# Git ignore file for Lab2_YOPI
# =====================================================================

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# OS files
Thumbs.db
[Dd]esktop.ini
.DS_Store

# Temporary Office lock files
~$*.docx
~$*.doc

# Logs & temp
*.log
*.tmp
